@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
/* the big div from App.js */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
}
/* Hover over the title */
a:hover {
  color: orangered;
}
/* Title area */
header {
  grid-area: header;
  background-color: darkslategrey;
  color: antiquewhite;

  display: flex;
  align-items: center;
  padding: 0.5rem;
}
/* a from header */
header a {
  color: antiquewhite;
  text-decoration: none; /*eliminates title underlying */
}
/* book list area with main tag*/
main {
  grid-area: main;
}
/* what contains book list area */
.content {
  display: flex;
  flex-wrap: wrap;
}

/* contained div with main classname, different from main tag */
.main {
  flex: 3 60rem;
}
/* Filter */
.main > .filter {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
  border-bottom: 0.1rem lightgray solid;
}
/*filter children all divs*/
.filter div {
  flex: 1;
}
.filter-sort :first-child,
.filter-show :first-child {
  margin-left: 0%;
}
.filter-sort :last-child,
.filter-show :last-child {
  margin-left: 5%;
}

/* Products (Product.js has className for list products)*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.sidebar {
  flex: 1 20rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
  text-align: center;
}
.product-price div {
  font-size: 2rem;
}
.button {
  padding: 1rem;
  border: 0.1rem gainsboro;
  cursor: pointer;
  background-color: #f0f0f0;
}
.button:hover {
  border: 0.1rem darkblue;
}
.button.primary {
  background-color: gold;
}
/* Cart styling */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 0.1rem lightgray solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li :last-child {
  flex: 1;
}

/* Foreach cart item to display its info in a single horizontal list item */
.right {
  text-align: right;
}

/* Cart total alignment(text + total value + proceed order button */
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* total direct div and button */
.total > div,
.total > button {
  float: 1;
}
.total > div {
  font-size: 2rem;
}

/* Checkout form */
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}
/* Product details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details-description {
  flex: 1 1;
  margin: 1rem;
}
.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
/*Order details*/
.order-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: right;
  padding: 0;
}
.success-message {
  color: darkgreen;
}
.order-modal {
  display: flex;
  flex-wrap: wrap;
}
/* the one with all rights reserved */
footer {
  grid-area: footer;
  background-color: darkslategrey;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
